﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Royal Rangers</title>
    <base href="/" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <link rel="stylesheet" href="styles.fd56aa52e2a30f2c2e01.css">
</head>
<body>
    <app-root></app-root>
    <script src="runtime-es2015.8ec34c03b74a9d01ce60.js" type="module"></script>
    <script src="runtime-es5.8ec34c03b74a9d01ce60.js" nomodule defer></script>
    <script src="polyfills-es5.58cbd850b7870352d6cb.js" nomodule defer></script>
    <script src="polyfills-es2015.9accb03dc59aa2c5dc50.js" type="module"></script>
    <script src="scripts.0fdb68ff2f3f14a7b4e6.js" defer></script>
    <script src="main-es2015.fa247b15e38fa100d308.js" type="module"></script>
    <script src="main-es5.fa247b15e38fa100d308.js" nomodule defer></script>
</body>
</html>
